<header class="header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="nav-wrap">
          <div class="row">
            <div class="span2">
              <div class="logo pull-left">
                <a href="{{ '' | link_to: website_data.link_object}}" class="logo_h logo_h__img">
                  {% if website_data.logo_text == nil or website_data.logo_text == '' %}
                    <img src="{{website_data.logo | attachment_url: 'default'}}" />
                  {% else %}
                    {{website_data.logo_text}}
                  {% endif %}
                </a>
              </div>
            </div>
            <div class="span10">
              <nav class="nav nav__primary clearfix">
                <ul class="sf-menu" id="topnav">
                  {% for link in website_data.top_links %}
                    {% if link.links.size == 0 %}
                      {% if link.category == 'Predefined Link' %}
                        {% if link.value == 'home' %}
                          <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="{{ '' | link_to: website_data.link_object }}">{{link.title}}</a>
                          </li>
                        {% elsif link.value == 'rooms' %}
                          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                            <a href="" class="dropdown-toggl" data-toggle="dropdown">
                              {{link.title}}
                              <i class="fa fa-caret-right"></i>
                            </a>
                            <ul class="sub-menu">
                              {% for room in website_data.rooms %}
                                {% if room.visible == true %}
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="{{ room.slug | link_to: website_data.link_object }}">{{room.name}}</a>
                                  </li>
                                {% endif %}
                              {% endfor %}
                              {% for room in website_data.custom_rooms %}
                                {% if room.visible == true %}
                                  <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="{{ room.slug | link_to: website_data.link_object }}">{{room.title}}</a>
                                  </li>
                                {% endif %}
                              {% endfor %}
                            </ul>
                          </li>
                        {% elsif link.value == 'features' %}
                          <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="{{ '#features' | link_to: website_data.link_object }}"> {{link.title}} </a>
                          </li>
                        {% elsif link.value == 'contacts' %}
                          <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="{{ '/contacts'  | link_to: website_data.link_object }}">{{link.title}}</a>
                          </li>
                        {% elsif link.value == 'faq' %}
                          <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="{{ '/faq' | link_to: website_data.link_object }}">{{link.title}}</a>
                          </li>
                        {% elsif link.value == 'about' %}
                          <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="{{ '/about' | link_to: website_data.link_object }}">{{link.title}}</a>
                          </li>
                        {% elsif link.value == 'blog' %}
                          <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="{{ '/blog' | link_to: website_data.link_object }}">{{link.title}}</a>
                          </li>
                        {% elsif link.value == 'terms-and-conditions' %}
                          <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="{{ '/terms-and-conditions' | link_to: website_data.link_object }}">{{link.title}}</a>
                          </li>
                        {% elsif link.value == 'privacy-policy'}
                          <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href=" '/privacy-policy' | link_to: website_data.link_object ">{{link.title}}</a>
                          </li>
                        {% elsif link.value == 'booking' %}
                          <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            {% if website_data.booking_link == nil or website_data.booking_link.empty> %}
                              <a href="{{'/book' | link_to: website_data.booking_link}}" class="booking-form-link">{{link.title}} </a>
                            {% else %}
                              <a href="{{website_data.booking_link}}"> {{link.title}} </a>
                            {% endif %}
                          </li>
                        {% endif %}
                      {% elsif link.category == 'Custom Page Link' %}
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                          <a href="{{ link.value | link_to: website_data.link_object }}"> {{link.title}} </a>
                        </li>
                      {% elsif link.category == 'Blog Record Link' %}
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                          <a href="{{ '/blog/' | append: link.value | link_to: website_data.link_object }}"> {{link.title}} </a>
                        </li>
                      {% elsif link.category == 'Room Page Link'}
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                          <a href="{{ link.value | link_to: website_data.link_object }}"> {{link.title}} </a>
                        </li>
                      {% else %}
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                          <a href="{{link.value | link_to: website_data.link_object }}">{{link.title}}</a>
                        </li>
                      {% endif %}
                    {% else %}
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                        <a href="#">
                          {{link.title}}
                          <i class="fa fa-caret-right"></i>
                        </a>
                        <ul class="sub-menu">
                        {% for link in link.links %}
                          {% if link.category == 'Predefined Link' %}
                            {% if link.value == 'home' }
                              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="{{ '' | link_to: website_data.link_object }}">{{link.title}}</a>
                              </li>
                            {% elsif link.value == 'rooms' %}
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                <a href="" class="dropdown-toggl" data-toggle="dropdown">
                                  {{link.title}}
                                  <i class="fa fa-caret-right"></i>
                                </a>
                                <ul class="sub-menu">
                                  {% for room in website_data.rooms %}
                                    {% if room.visible == true %}
                                      <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="{{ room.slug | link_to: website_data.link_object }}">{{room.name}}</a>
                                      </li>
                                    {% endif %}
                                  {% endfor %}
                                  {% for room in website_data.custom_rooms %}
                                    {% if room.visible == true %}
                                      <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="{{ room.slug | link_to: website_data.link_object }}">{{room.title}}</a>
                                      </li>
                                    {% endif %}
                                  {% endfor %}
                                </ul>
                              </li>
                            {% elsif link.value == 'features' %}
                              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="{{ '#features' | link_to: website_data.link_object }}"> {{link.title}} </a>
                              </li>
                            {% elsif link.value == 'contacts' %}
                              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="{{ '/contacts' | link_to: website_data.link_object }}">{{link.value}}</a>
                              </li>
                            {% elsif link.value == 'faq' %}
                              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="{{ '/faq' | link_to: website_data.link_object }}">{{link.title}}</a>
                              </li>
                            {% elsif link.value == 'about' %}
                              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="{{ '/about' | link_to: website_data.link_object }}">{{link.title}}</a>
                              </li>
                            {% elsif link.value == 'blog' %}
                              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="{{ '/blog' | link_to: website_data.link_object }}">{{link.title}}</a>
                              </li>
                              {% elsif link.value == 'terms-and-conditions' %}
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                  <a href="{{ '/terms-and-conditions' | link_to: website_data.link_object }}">{{link.title}}</a>
                                </li>
                              {% elsif link.value == 'privacy-policy'}
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                  <a href="{{ '/privacy-policy' | link_to: website_data.link_object }}">{{link.title}}</a>
                                </li>
                              {% elsif link.value == 'booking' %}
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                  {% if website_data.booking_link == nil or website_data.booking_link.empty> %}
                                    <a href="{{ '/book' | link_to: website_data.link_object }}" class="booking-form-link">{{link.title}} </a>
                                  {% else %}
                                    <a href="{{website_data.booking_link}}"> {{link.title}} </a>
                                  {% endif %}
                                </li>
                              {% endif %}
                            {% elsif link.category == 'Custom Page Link' %}
                              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="{{ link.value | link_to: website_data.link_object }}"> {{link.title}} </a>
                              </li>
                            {% elsif link.category == 'Blog Record Link' %}
                              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="{{ '/blog/' | append: link.value | link_to: website_data.link_object }}"> {{link.title}} </a>
                              </li>
                            {% elsif link.category == 'Room Page Link'}
                              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="{{ link.value | link_to: website_data.link_object }}"> {{link.title}} </a>
                              </li>
                            {% else %}
                              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="{{ link.value | link_to: website_data.link_object }}">{{link.title}}</a>
                              </li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                      </li>
                    {% endif %}
                  {% endfor %}
                  {% if website_data.langs.size > 1 %}
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children languages">
                      <a href="#">
                        <span class="flag-icon flag-icon-{{website_data.lang}}"></span>
                          {{ website_data.lang | get_native_title }}
                        <i class="fa fa-caret-right"></i>
                     </a>
                     <ul class="sub-menu">
                       {% for lang in website_data.langs %}
                         <li class="menu-item menu-item-type-post_type menu-item-object-page">
                           <a href="{{ '' | append: lang | link_to: website_data.link_object }}">
                             <span class="flag-icon flag-icon-{{lang}}"></span>
                              {{ lang | get_native_title }}
                           </a>
                         </li>
                       {% endfor %}
                     </ul>
                   </li>
                {% endif %}
                  <li class="menu-item menu-item-type-post_type menu-item-object-page logout">
                    <a href="#">
                      Logout
                    </a>
                 </li>
                 <li class="link menu-item menu-item-type-custom menu-item-object-custom">
                   {% if website_data.booking_link == nil or website_data.booking_link == "" %}
                    <a href="{{ '/book' | link_to: website_data.link_object }}" class="booking-form-link">
                      {{website_data.booking_button_text}}
                    </a>
                   {% else %}
                    <a href="{{website_data.booking_link}}">
                      {{website_data.booking_button_text}}
                    </a>
                   {% endif %}
                 </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="header-lock"></div>
