{% include 'header' %}

<div class="content-holder clearfix">
  <div class="container">
    <div class="row" id="content">
      <div class="span12">
        <div class="page type-page status-publish hentry">
          <div class="row">
            <div class="span12">
              <div id="map-canvas" style="height: 300px;"></div>

              {% if website_data.map_center_lat and website_data.map_center_lng %}
                <script>
                  var zoom = {{website_data.map_zoom_level}}
                  var lat = {{website_data.map_center_lat}}
                  var lng = {{website_data.map_center_lng}}
                  function initialize() {
                    var myOptions = {
                        zoom: zoom,
                        center: new google.maps.LatLng(lat, lng),
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        scrollwheel: false
                    }
                    map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);

                    var marker = new google.maps.Marker({
                        map: map,
                        position: new google.maps.LatLng(lat, lng)
                    });
                  }

                  function loadScript() {
                    var script = document.createElement('script');
                    script.type = 'text/javascript';
                    script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp' +
                        '&callback=initialize&key=AIzaSyCxqPAlL6tmp-Wny3tC0e_byl-jOxzu_QA';
                    document.body.appendChild(script);
                  }

                  loadScript();
                </script>
              {% endif %}
              <div class="span12">
                <div class="row">
                  <div class="span4 contacts">
                    <h2>
                      {{website_data.contact_area_title}}
                    </h2>
                    <p>
                      {{website_data.contact_area_description}}
                    </p>
                    <dl class="dl-horizontal">
                      <dt>Phone:</dt>
                      <dd>
                        {{website_data.phone_number}}
                      </dd>
                      <dt>Email:</dt>
                      <dd>
                        {{website_data.email_address}}
                      </dd>
                      <dt>Booking:</dt>
                      <dd>
                        {% if website_data.booking_link == nil or website_data.booking_link == '' %}
                          <a href="{{ '/book' | link_to: website_data.link_object }}" class="booking-form-link">{{website_data.booking_button_text}}</a>
                        {% else %}
                          <a href="{{website_data.booking_link}}">{{website_data.booking_button_text}}</a>
                        {% endif %}
                      </dd>
                      <dt>Trip Advisor:</dt>
                      <dd>
                        <a href="{{website_data.tripadvisor_listing_link}}">View Our Profile</a>
                      </dd>
                      <dt>Address:</dt>
                      <dd>
                        {{website_data.address}}
                      </dd>
                    </dl>
                  </div>
                  <div class="span8">
                    <h2>Get In Touch</h2>
                    <div class="wpcf7">
                      <form action="/send_email" method="post" id="contact-form" class="wpcf7-form">
                        <input name="part_a" type="hidden" value="{{website_data.rand_a}}"></input>
                        <input name="part_b" type="hidden" value="{{website_data.rand_b}}"></input>
                        <div class="row-fluid">
                          <p class="span6 field">
                            <span class="wpcf7-form-control-wrap name">
                              <input aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" name="name" placeholder="Your Name" size="40" type="text"></input>
                            </span>
                          </p>
                          <p class="span6 field">
                            <span class="wpcf7-form-control-wrap email">
                              <input aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" name="email" placeholder="Your Email" size="40" type="email"></input>
                            </span>
                          </p>
                        </div>
                        <div class="row-fluid">
                          <p class="span12 field">
                            <span class="wpcf7-form-control-wrap your-message">
                              <textarea aria-invalid="false" class="wpcf7-form-control wpcf7-textarea" cols="40" name="message" placeholder="Message:" rows="10"></textarea>
                            </span>
                          </p>
                        </div>
                        <div class="row-fluid">
                          <p class="span6 field formula-row">
                            <span class="formula">
                              {{website_data.rand_a}} + {{website_data.rand_b}} =
                            </span>
                            <span class="wpcf7-form-control-wrap">
                              <input class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" name="answer" placeholder="..." type="text"></input>
                            </span>
                          </p>
                          <p class="span6 text-right">
                            <span class="input-btn btn btn-from-top">
                              <span>
                                <input class="wpcf7-form-control wpcf7-submit" type="submit" value="Send Message">
                                  <img alt="Sending ..." class="ajax-loader" src="/3/images/ajax-loader.gif"/>
                                  <div class="ajax-loader"></div>
                                </input>
                              </span>
                            </span>
                          </p>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
